@font-face {
    font-family: 'HDHyundai';
    src: url('HDHyundai-Bd.woff2') format('woff2'),
        url('HDHyundai-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HDHyundai';
    src: url('HDHyundai-Lt.woff2') format('woff2'),
        url('HDHyundai-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HDHyundai';
    src: url('HDHyundai-Rg.woff2') format('woff2'),
        url('HDHyundai-Rg.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

